* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    width: 100%;
    height: 62px;
    padding-left: 0;
    padding-right: 56px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 100%;
}

.icons .tam {
    height: 35px;
    width: 35px;
}

.carrefour-logo {
    width: 150px;
    height: 28px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 425px;
    height: 36px;
}

.search img {
    background-color: #3f38ff;
    height: 36px;
    border-radius: 0px 6px 6px 0px;
}

#search-header {
    width: 477px;
    height: 36px;
}

main {
    display: flex;
    background-color: aqua;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card-item {
    background-color: black;
    height: 437px;
    width: 173px;
    display: flex;
    justify-content: center;
}

.card-item .item img {
    height: 157px;
    width: 160px;
    margin-top: 40px;
    object-fit: cover;
}